{% extends 'base.html.twig' %}

{% block body %}
    {{ dump(bdaddies) }}
    <div id="map" style="width:100%;height:500px;"></div>
    <script>

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: {lat: 48.8488576, lng: 2.3354223}
            });

            setMarkers(map);
        }


        var daddies = [
            {% for daddy in bdaddies %}
            ['{{ daddy.lastname }} {{ daddy.firstname }}', {{ daddy.lat }}, {{ daddy.lng }}]{{ loop.last ? '' : ',' }}
            {% endfor %}
        ];
        console.log(daddies);
        function setMarkers(map) {
            for (var i = 0; i < daddies.length; i++) {
                var daddy = daddies[i];
                var marker = new google.maps.Marker({
                    position: {lat: daddy[1], lng: daddy[2]},
                    map: map,
                    title: daddy[0],
                    icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
                });
            }
        }

    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA80t-bsiDq6n5Cd7puziEpaF-ITzS463Y&signed_in=true&callback=initMap"></script>
{% endblock %}
